@model IEnumerable<Purchase>
@{
    ViewData["Title"] = Toolbar.Title;
}

@section Styles {
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <style>
        input:invalid {
            border: red solid 3px;
        }
    </style>
}

<div class="card">
    <div class="card-header border-0 pt-10">
        <!--begin::title-->
        <h2 class="fw-bolder">Teslimi Bekleyen Satın Almalar</h2>
        <!--end::title-->
    </div>
    <div class="card-body pt-0">
        <div id="kt_datatable_pending_delivery_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row"><div class="col-sm-6 d-flex align-items-center justify-conten-start"><div class="dataTables_length" id="kt_datatable_pending_delivery_length"><label>Göster <select name="kt_datatable_pending_delivery_length" aria-controls="kt_datatable_pending_delivery" class="form-select form-select-sm form-select-solid"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div></div><div class="col-sm-6 d-flex align-items-center justify-content-end"><div id="kt_datatable_pending_delivery_filter" class="dataTables_filter"><label>Ara:<input type="search" class="form-control form-control-sm form-control-solid" data-kt-pending-delivery-table-filter="search" placeholder="" aria-controls="kt_datatable_pending_delivery"></label></div></div></div>
            <div class="table-responsive">
                <table id="kt_pending_delivery_table" class="table table-striped table-row-bordered gy-5 gs-7 border">
                    <thead class="border-gray-200 fs-5 fw-bold bg-light-dark">
                        <tr class="fw-bolder fs-6 text-gray-800 px-7">
                            <th>Termin Tarihi</th>
                            <th>Ürün Adı</th>
                            <th>Miktar</th>
                            <th>Alım Tarihi</th>
                            <th>Tedarikçi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var purchase in Model)
                            {
                                <tr>
                                    <td>@purchase.RequestedDeliveryDate.ToString("d")</td>
                                    <td>@purchase.Product.Name</td>
                                    <td>@purchase.Quantity</td>
                                    <td>@purchase.InvoiceDate.GetValueOrDefault().ToString("d")</td>
                                    <td>@purchase.CurrentAccount?.CompanyName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


@section PageScripts {
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script src="~/assets/js/custom/apps/purchase/load-datatable-pending-delivery.js"></script>
}
